<%= form_for @animal, html: { multipart: true}  do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :species %><br>
    <%= f.text_field :species, class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary, class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :fullDescription %><br>
    <%= f.text_area :fullDescription, class:"form-control" %>
  </div>
  <div class="form-group field">
  <%= f.label :organizationName %>
  <div class="form-control"><%= collection_select(:animal, :organization_id, @organizations, :id, :organizationName, prompt: true) %></div>
  </div>
  <div class="form-group field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :amountRaised %><br>
    <%= f.text_field :amountRaised, class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="form-group actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
<br>
