<%= form_for @animal, html: { multipart: true}  do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :species %><br>
    <%= f.text_field :species %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :fullDescription %><br>
    <%= f.text_area :fullDescription %>
  </div>
  Organization:
  <%= collection_select(:animal, :organization_id, Organization.all, :id, :organizationName, prompt: true) %>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :amountRaised %><br>
    <%= f.text_field :amountRaised %>
  </div>
Upload Picture
 <%= f.file_field :picture %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
