<div class="container">
 <div class="row">
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
       </ol>

     <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
          <div class="item active">
               <image src="https://s3.amazonaws.com/sagarwal10-animals/static/cow.jpeg">
               <div class="carousel-caption">
               <%= @carousel_caption.html_safe %>
               </div>
           </div>
           <div class="item">
               <%= image_tag("duck.jpg") %>
               <div class="carousel-caption">
               <%= @carousel_caption.html_safe %>
               </div>
           </div>
           <div class="item">
               <%= image_tag("rabbits.jpg") %>
               <div class="carousel-caption">
               <%= @carousel_caption.html_safe %>
               </div>
           </div>
        </div>

     <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div  class="main-text ">
    </div>
  </div>

  <div class="row"> 
  <div id="categoryselect" class="hidden-lg hidden-md col-sm-3 col-sm-offset-9 col-xs-4 col-xs-offset-8">
      <button id="animalselectdropdown" class="btn btn-default dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Filter Animals
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu "  aria-labelledby="dropdownMenu1"> 
         <li class="pl1">
	    <input type="checkbox" id="clearall-dropdown" name="animal" value="Clear All" /><b>Clear All</b>
         </li>
         <% @species.each do |s| %>
         <li class="pl1">
             <input type="checkbox" id="animalselector-dropdown-<%= s.species %>" class="animalselector" checked name="animal" value="<%= s.species %>" /><%= s.species %>
         </li>
         <% end %>
      </ul>
   </div>
  </div>

 <div class="row">
    <div id="animallist-sidebar" class="hidden-xs hidden-sm col-lg-2 col-md-2">
       <br>
       <h4>Animals</h4>
       <hr>
       <% @species.each do |s| %>
           <input type="checkbox" class="animalselector" id="animalselector-sidebar-<%= s.species %>" checked name="animal" value="<%= s.species %>" /><%= s.species %><br>
       <% end %>
       <input type="checkbox" id="clearall" name="animal" value="Clear All" /><b>Clear All</b><br>
    </div>
    <div id="animallist" class="col-lg-10 col-md-10">
        <div class="row">
        <% @animals.each do |animal| %>
        <div class="animal-<%= animal.species %> col-lg-3 col-md-4 col-sm-6 col-xs-8 col-xs-offset-3 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 ">
           <div class="animalindex glassy-bg radius-box m1 ell">
             <%= link_to animal_path(animal) do %>
             <%= image_tag animal.picture.url(:small), class: "radius-box mtm" %>
             <% end %>
             <div id="animalcaption" class="caption">
                 <div id="animalname"><strong><%= animal.name %></strong></div>
                 <div id="animalneed" class="pr1 pl1 pb1 pt1"><i><%= animal.summary %></i></div>
                 <div id="animaldescription" class="pr1 pl1"><%= truncate(animal.fullDescription, length:80) %></div>
                 <div id="animalamountindexpage" class="pb2 pr2" ><%= animal.amountRaised %>/<%= animal.amount %></div>
             </div>
           </div>
        </div>
        <% end %>
    </div>
    </div>
 </div>
<div>
