<p id="notice"><%= notice %></p>

<h1>The Animals</h1>
</div>
 <div id="animalpage" class="container-fluid row">
    <% @animals.each do |animal| %>
    <div class="col-lg-2 col-md-3 col-xs-6  ">
    <div id="animalindex" >
        <%= image_tag animal.picture.url(:small) %>
       <div id="animalcaption" class="caption">
        <div id="animalname"><strong><%= animal.name %></strong></div>
        <div id="animalorg"><% if animal.organization_id != nil %>
            <%= link_to "#{Organization.find(animal.organization_id).organizationName}", organization_path(animal.organization_id) %>
            <% else %>
            None
            <% end %>
        </div>
        <div id="animalneed"><i><%= animal.summary %></i></div>
        <br>
        <div><%= truncate(animal.fullDescription, length:80) %></div>
        <div id="animalamount"><%= animal.amountRaised %>/<%= animal.amount %></div>
        </div>
     </div>
     </div>
    <% end %>
</div>
<br>

<%= link_to 'New Animal', new_animal_path %>
