
   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" role="tablist">
   <% if @display_edit_link == 1 %>
    <li role="presentation" class="sidebar-brand"><%= link_to 'Edit Entry', edit_animal_path(@animal) %></li>
   <% end %>
    <li role="presentation" class="sidebar-brand"><a href="#profile" aria-controls="profile" role="tab" data-toggle="profile"><%= "About #{@animal.name}" %></a></li>
    <li role="presentation" class="sidebar-brand"><a href="#donate" aria-controls="messages" role="tab" data-toggle="donate">Donate</a></li>
    <li role="presentation" class="sidebar-brand"><a href="#organization" aria-controls="settings" role="tab" data-toggle="organization"><%= "About #{@animal.name}'s Home" %></a></li>
    <li role="presentation" class="sidebar-brand"><%= link_to 'Back to the Animals', root_url %></li>
  </ul>
</div>


<div id="page-content-wrapper">
<div class="container-fluid">

<% if @donation_message != nil %>
<div class="row text-al-center">
<div class="alert alert-danger alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4><%= @donation_message %></h4>
</div>
</div>
<% end %> 

<div class="row">
<div class="col-sm-offset-1 col-sm-9">
<div id="animalname"><h1><%= @animal.name %></h1></div>
<%= image_tag @animal.picture.url, class: "radius-box mtm fit" %>
<a name="profile"></a>  
<div id="animaldescription" class=""><%= @animal.fullDescription %></div>

<br>
<a name="donate"></a>
<h2 class="text-al-center"><u>Donate</u></h2>
<div id="animalneed" >
<h3>
<br>
<% if @animal.monthly_sponsorship %>
    <i><%= "Contribute to #{@animal.name}'s monthly food & living" %></i>
    <br>
    <div id="animalamountmessage"><%= "(Note: This is a one time only contribution)" %></div>
<% else %>
    <i><%= @animal.summary %></i>
<% end %>
</h3>
</div>
<br>
<div class="text-right" >Total requested: $<%= @animal.amount %>. Still needed: <b>$<%= @animal.amount - @animal.amountRaised %></b></div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= @animal.amountRaised*100/@animal.amount %>%;" >
    <%= (@animal.amountRaised*100/@animal.amount).floor %>%
  </div>
</div>
<br>
<%= form_tag(purchase_url(@animal.id), method: "post",class:"pull-right", id:"donateForm") do %>
<%= number_field(nil, :amount, class:"donateField controls", 
		 in: 1..(@animal.amount - @animal.amountRaised), 
	 	 step: 0.5,
		 placeholder:"Enter a donation amount from $0.50 to " +
			     "$#{@animal.amount-@animal.amountRaised}") %>
<button type="submit" class="donateForm btn btn-primary ">Donate 
</button>
<div id="animalamountmessage" class="text-right">(any contribution amount upto the total needed is appreciated)</div>
<% end %>
<br>
<br><br><br>
<a name="organization"></a>
<h2 class="text-al-center" ><u><%= "#{@animal.name}'s Home" %></u></h2>
<br>
<%= render 'organizations/show' %>
     </div>
   </div>
  </div>
  <!-- /#page-content-wrapper -->
 </div>
</div>
