
 <div class="container row">
 <div class="col-sm-offset-4 col-sm-6 ">
<div id="animalname"><h1><%= @animal.name %></h1></div>
<div id="animalorg"><% if @animal.organization_id != nil %>
  <%= link_to "#{Organization.find(@animal.organization_id).organizationName}", organization_path(@animal.organization_id), class:"animalorg" %>
  <% else %>
     None
  <% end %>
</div>
</div>
</div>
 
<div class="container row">
 <div class="col-sm-offset-4 col-sm-6 ">
 <%= image_tag @animal.picture.url, class: "radius-box mtm fit" %>
</div>
</div>

 <div class="container row">
 <div class="col-sm-offset-4 col-sm-6 ">
        <div id="animalneed" class="pr1 pl1"><i><%= @animal.summary %></i></div>
        <div id="animaldescription" class="pr1 pl1"><%= @animal.fullDescription %></div>
        <div id="animalamountshowpage" class="pb2 pr2" ><%= @animal.amountRaised %>/<%= @animal.amount %></div>
</div>
</div>
