<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <br><br>
    <h1>On behalf of the Animals, we thank you!</h1><br>
    <p>
      We appreciate your donation of $<%= @amount %> to <%= @name %>.
      <br>
      <br>
      An email notification has been sent to <%= @sanctuary_name %>.
      <br>
      Their contact email address is <%= @sanctuary_email %>.
    </p>
    <br>
    <p>Thank you for your support and have a great day!</p>
    <br>
    <br>
   Sent From: <%= link_to 'Animal Wishes', "http://www.animalwishes.org" %>
  </body>
</html>
