<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>On behalf of the Animals, we thank you!</h1>
    <p>
      We appreciate your donation of $<%= @amount %> to <%= @name %>.
      <br>
      <br>
      An email has also been sent to <%= @sanctuary_name %>.
      <br>
      Feel free to contact them at <%= @sanctuary_email %>.
    </p>
    <p>
    <p>Thanks for your support and have a great day!</p>
    <br>
    <br>
  <%= link_to 'Animal Wishes', "http://www.animalwishes.org" %>
  </body>
</html>
