
<div class="container">

<% if @captcha_error != nil %>
    <div class="row text-al-center alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= @captcha_error %>
    </div>
<% else %>
   <div class="row text-al-center" id="topBanner">
   <div id="topLine">About AnimalWishes</div>
   </div>
<% end %>

<div class="row"> 
<div class="col-md-2 ">
<%= image_tag("Self.jpg", class:"aboutImg") %>
</div>
<div class="col-md-8">
<b>How can we help the voiceless animals who are in need but
can't speak for themselves?</b>
<br><br>
Hi, my name is Shalabh. I live & work
in the San Francisco Bay area region.
<br><br>
As somebody who has always loved
animals, I wanted to create a website that would enable other
fellow animal lovers to discover, connect with and help individual 
animals in need.
<br>
<br>
A lot of Animal Sanctuaries are doing great work harboring and nurturing
animals that have been abandoned or have escaped from factory farms and other
terrible conditions. These sanctuaries each have their own separate web sites 
and I felt there was a need for a  
common platform to unite them so that animal lovers can discover more animals
and sanctuaries on one website.
<br>
<br>
100% of your donations go to the sanctuary & animals you choose. 
<br><br>
So please show animals that have been fortunate enough to have
been rescued or escaped that you care. 
<br><br>
</div>
<div class="col-md-6 col-md-offset-3">
<div class="text-al-center"><u>Contact</u></div>
<br>
<br>
<%= form_tag(contact_url) do %>
  <div class="form-group">
    <label>Name</label>
    <%= text_field_tag 'name', nil, class:"form-control",
    placeholder:"Enter Your name"  %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <%= email_field_tag 'email', nil, class:"form-control",
    placeholder:'Enter your email address', :required => true %>
  </div>
  <div class="form-group">
    <label>Message</label>
    <%= text_area_tag 'message', nil, rows:4, class:"form-control",
        placeholder: "Enter your message", :required => true %>
  </div>
  <%= recaptcha_tags %>
  <br>
<button type="submit" class="btn btn-default btn-sm">Submit</button>
<% end %>
<br><br><br>
</div>
</div>
</div>
