
<div class="container">

<% if @captcha_error != nil %>
    <div class="row text-al-center alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= @captcha_error %>
    </div>
<% else %>
   <div class="row text-al-center" id="topBanner">
   <div id="topLine">About AnimalWishes</div>
   </div>
<% end %>

<div class="row"> 
<div class="col-md-2 ">
<%= image_tag("Self.jpg", class:"aboutImg") %>
</div>
<div class="col-md-8">
<b>How can we help the voiceless animals who are in need but
can't speak for themselves?</b>
<br><br>
Thanks for visiting this website. <br><br>
My name is Shalabh. I live
in the beautiful San Francisco Bay area region.
<br><br>
As an Animal lover, I wanted to build something that 
would help Animals in need. <br><br>
After having visited a couple
of Animal sanctuaries in the Bay area, I realized something. 
<br>
<br>
A lot of the sanctuaries are doing amazing work fostering and caring for
animals that have been rescued after being abandoned as pets or having escaped from factory farms and other
horrible conditions. <br><br>
However, these sanctuaries each have their own separate web presence
and the thought occurred to me that perhaps there could be one
platform to showcase all the work being done by them. And while we're at it, why not also have 
one common place for people to donate to the sanctuaries and animals. 
<br>
<br>
Animal Wishes is the result of this effort. I hope it will help you connect with 
and donate to Animals in need. I also hope you go visit them. 
<br>
<br>
100% of your donations go to the sanctuary and the Animals. 
<br><br>
</div>
<div class="col-md-6 col-md-offset-3">
<a href="#contact"><div id="contact" class="text-al-center"><u>Contact</u></div></a>
<br>
<br>
<%= form_tag(contact_url) do %>
  <div class="form-group">
    <label>Name</label>
    <%= text_field_tag 'name', nil, class:"form-control",
    placeholder:"Enter Your name"  %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <%= email_field_tag 'email', nil, class:"form-control",
    placeholder:'Enter your email address', :required => true %>
  </div>
  <div class="form-group">
    <label>Message</label>
    <%= text_area_tag 'message', nil, rows:4, class:"form-control",
        placeholder: "Enter your message", :required => true %>
  </div>
  <%= recaptcha_tags %>
  <br>
<button type="submit" class="btn btn-default btn-sm">Submit</button>
<% end %>
<br><br><br>
</div>
</div>
</div>
