<!DOCTYPE html>
<html>
<head>
  <title>Animalwishes</title>
  <meta name="description" content="Donate to Sanctuaries that have rescued farm & domestic Animals.100% of your support goes towards the Animals.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
